.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(#4768ad 50%, #6262ee 100%);
    overflow: hidden;
    /* cursor: pointer; */
  }
  .nav-link{
    border-radius: 23px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
  }
  
  .wrapper img,.clo:hover {
    transform: scale(1.3);
    transition: 0.3s ease-out;
  }
  
  .wrapper:hover img,.clo:hover {
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
  }
  .overlaying .link-a:hover,.clo:hover {
    background: rgb(95, 199, 10);
  }
  
  .wrapper:hover .overlaying .text-h1 ,.clo:hover{
    opacity: 1;
    transform: translateY(0);
  }
  
  .wrapper:hover .overlaying .text-p,.clo:hover {
    opacity: 1;
    transform: translateY(0);
  }
  
  .wrapper:hover .overlaying .link-a,.clo:hover {
    opacity: 1;
    transform: translateY(0);
  }
    .overlaying {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .wrapper:hover .overlaying {
    opacity: .7;
  
  
  }
  .text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .pack{
    background-color:RGB(152, 180, 212);
  }
  .pack:hover{
    color:white;
    background-color: rgb(92, 202, 116);
  }
  .Ayush{
    color: black;
    background-color: blue;
    text-decoration: none;
  }
  .Ayush:hover{
    color:white;
    text-decoration: none;
  }
  a .Ayush{
    text-decoration: none;
  }
  /* subpackage */
  .packs{
   background-color: aliceblue;
  }
.box{
  border: 1px solid wheat;
}
.bos{
  border-right: 1px solid black;
  background-color:whitesmoke;
}
.best{
  background-color:whitesmoke;

}


/* events */
.eventimg{
  width: 100%;
}
.recent{
  background-color: darkblue;
  color: whitesmoke;
}
.lectus{
  font-size: 35px;
}
/* .carouselevent */
.d-block{
  width: 100%;
  height: 100%;
}
.kerala{
  border: 1px solid wheat;
}
.boxex{
  border: 1px solid wheat;
  padding-right: 50px;
  padding-left: 50px;
}
.boxe{
  border-bottom: 1px solid wheat;
}
.unknown{
  font-size: 20px;
}
.printing{
  font-size: 20px;
  background-color: aliceblue;
}
.list{
  color: blue;
}
a{
  text-decoration: none;
  color: whitesmoke;
}