.heading{
     font-size:65px ; 
     padding-bottom: 15px;
} 
.vital{
    font-size: 20px;
    /* padding-bottom: 15px; */
}
.trusted{
    font-size: 20px;

}
.learn{
    border-radius: 20px;
    padding: 10px;
    background-color: blue;
    color: white;
}
.gmrl{
    color: blue;
}
.li{
    background-image: linear-gradient(white,aliceblue);
}
.visit{
    border: 1px solid black;
}
.visittp{
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.menu{
    padding-left: 40%;
    color: white;
}
.link:hover{
    background-color: rgb(6, 6, 53);
    color: white;


}
.navs{
    background-color: white;
}
.nav-t{
    color: black;
   text-decoration: none;
}


/* vhgdjhd */
.col-md-3{
    display: inline-block;
    margin-left:-4px;
  }
  .col-md-3 img{
    width:100%;
    height:auto;
  }
  body .carousel-indicators1 li{
    background-color:black;
  }
  /* body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
    background-color:black;
  } */
  /* body .no-padding{
    padding-left: 0;
    padding-right: 0;
  } */
/* sec4 */
.box{
    border: 1px solid blue;
}
.sub:hover{
 
    background-color: green;
}
.sub{
    text-align: center;
    color: white;
    background-color: blue;
}
.Enquiry{
    text-align: center;
}
/* footer */
.apps{
    border-radius: 50px;
    padding:5%;
    background-color: antiquewhite;
}
.font{
    font-size:15px;
    font-weight: 100;
}
.fonts{
    font-size: 30px;
}
/* footer{
    background-color: black;
} */